<div class="footercontent">
  <h3>
    <span class="LoginContentHeader">About Netserv Technologies</span>
  </h3>
  <p>
    Netserv Technologies offers a comprehensive suite of business automation solutions for manufacturers, distributors and brokers within the food &amp; beverage industry.Cutting-edge functionality designed to optimize the order-to-cash flow and improve efficiencies across the entire supply chain are available as stand-alone sales force automation solutions or as a complete suite of software solutions for the food service supply chain.
  </p>
</div>